body {
    background-color: pink;
    padding-bottom: 20px;
}

main{
    min-height: 75vh;
}

.container {
    width: 90vw;
    padding: 0 0;
    background-color: #fff;
    min-height: 85vh;
}

.logout {
    text-align: right;
}

.greeting{
    float: left;
}

.greeting, .logout{
    margin-bottom: 5px;
}

.navbar{
    padding: 0;
}

nav ul li{
    width: 150px;
    text-align: center;
    margin-right: 2px;
    background-color: black;
}

.first-header nav ul li:hover{
    background-color: gray;
}

.title-button{
    margin-left: 30px;
}

table{
    width: 1000px;
    margin: 0 auto;
    border: 2px solid black;
}

th{
    font-size: 17px;
    text-align: center;
}

footer p {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: right;
    margin-right: 10px;
}

.btn{
    background-color: #BBB;
    border: none;
    color: black;
    border-radius: 5px;
    box-shadow: 1.5px 1.5px black;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.error {
    color: red;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

#upload{
    margin-top: 70px;
}

.done{
    text-align: center;
    margin-top: 100px;
}

.submit-button{
    margin-left: 70px;
    margin-top: 20px;
}

.icon{
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
}

.sorted{
    margin: 5px 0;
}

.register-btn {
    float: left;
    margin-right: 20px;
}

.message {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.purchase-list {
    text-align: center;
}

.page {
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
}
