body {
    background-image: url("../img/contentback.jpg");
    text-align: center;
}

.logo {
    margin: 0 auto;
    width: 600px;
    height: 255px;
}

main {
    min-height: 500px;
}

table {
    margin: 0 auto;
}

.card {
    width: 50%;
    margin: 30px auto;
    background-color: #ffe;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-top: 20px;
}

.error {
    color: red;
}

footer{
    background: black;
    height: 100px;
}

.footer{
    text-align: center;
    color: white;
    margin-bottom: 0;
    padding-top: 20px;
}
